<%= turbo_frame_tag id="new_post" do %>
  <div class="w-full mb-4 p-2 border border-gray-200 rounded-lg bg-white dark:bg-gray-700 dark:border-gray-600">

    <%= render "form", post: @post %>
  </div>
<% end %>