<div class = 'page-container'>
  <div class = 'title-container' >
    <h1>Posts#new</h1>
  </div>
  <div class = 'content-container'>
    <%= render "form", post: @post %>
    <%# <%= render "form" %> 
  </div>
  <div class="nav-bar-container">
    <%= link_to "Back to posts", posts_path %>
  </div>
</div>